---
//import Button from '@/components/button';
//import {FaSquare} from 'react-icons/fa';
import Container from '../container.astro';

---
<div id="details" class="bg-slate-50 py-12">
  <Container class='bg-white m-auto flex flex-col items-center'>
    <div class="text-center max-w-2xl">
      <img class="max-w-md m-auto w-full" src='/illustrations/489.svg' alt="alternative"/>
      <h3 class='mt-8 font-bold text-2xl text-main-700'>It's time to improve your content creation</h3>
      <p class='my-12'>Our goal is for you to grow and deliver your content in the best possible way. With LetterCMS you won't have to add plugins or use external tools, we offer everything in one place.</p>
      <ul class='mb-12'>
        <li class="flex text-left">
          <!--<FaSquare fill='#837bbf' style={{marginTop: 4, marginRight: 4, width: 8}}/>-->
          <div>Attract new readers and offer them quality</div>
        </li>
        <li class="flex text-left">
          <!--<FaSquare fill='#837bbf' style={{marginTop: 4, marginRight: 4, width: 8}}/>-->
          <div>Create and collab more efficiently</div>
        </li>
      </ul>
      <a class='no-underline border border-main-500 text-main-500 rounded-full py-3 px-6' href='/docs'>
        REGISTER
      </a>
    </div>
  </Container>
</div>
