---

const features = [
  {
    title: 'Integrate your social media',
    description: 'Promote your entries on different channels without waiting. Focus on create, we promote for you',
    img: `/illustrations/5.svg`,
    feats: [
      'Promote on your social media',
      'Send emails to your subscribers',
      'Send notifications to your readers devices'
    ]
  },
  {
    title: 'Show the right content',
    img: `/illustrations/109.svg`,
    description: 'Our recommendation systems will help you to offer the right content for each person',
    feats: [
      'Similarity filter',
      'Recommendations based on tastes',
      '100% Dinamic content'
    ]
  },
  {

    title: 'Thought for your readers',
    img: `/illustrations/125.svg`,
    description: 'Our platform is optimized to offer the best loading experience. We have reduced the loading times to boost your views',
    feats: [
      'Image size reduction',
      'Asynchronous load'
    ]
  }
];

---
<div id="features" class="bg-white flex items-center flex-col py-8">
  <div class="text-center">
    <div class='my-8'>
      <div class="text-4xl font-bold text-main-700">FEATURES</div>
      <h3>Thinking on you and your readers</h3>
    </div>
    <p class="my-8 px-4 max-w-2xl">
      Take your time, focus on writing, we'll take care of deliver your content in all your social media with one click. Once inside we offer the right content to the right person
    </p>
  </div>
  <div class="flex" id="argoTabs" role="tablist">
    <button id='tab-button-1' class='tab-button cursor-pointer mx-1 my-8 rounded-full py-2 px-4' data-tab="1" role="tab" aria-controls="tab-1">Promote</button>
    <button id='tab-button-2' class='tab-button cursor-pointer mx-1 my-8 rounded-full py-2 px-4' data-tab="2" role="tab" aria-controls="tab-2">Delight</button>
    <button id='tab-button-3' class='tab-button cursor-pointer mx-1 my-8 rounded-full py-2 px-4' data-tab="3" role="tab" aria-controls="tab-3">Retain</button>
  </div>
  <div class="relative w-full" >
    {
      features.map((e, i) => {
        return <div class={`tab-panel opacity-0 hidden w-full transition-all duration-150 ease flex flex-col items-center ${ i === 1 ? 'md:flex-row-reverse' : 'md:flex-row'} md:py-16 md:w-3/4 md:m-auto`} role="tabpanel">
          <img src={e.img} alt="alternative" class='md:w-1/2'/>
          <div class="my-8 text-center md:w-1/2">
            <h4 class='font-bold text-2xl text-main-700'>{e.title}</h4>
            <p class='my-8 px-2'>{e.description}</p>
            <ul class="text-left pl-8 pr-2 mb-12">
              {
                e.feats.map(feat => {
                  return <li class="flex items-center my-2">
                    <!--<FaCircle fill='#837bbf' style={{width: 8}}/>-->
                    <div class='ml-1'>{feat}</div>
                  </li>
                })
              }
            </ul>
            <a class='no-underline border border-main-500 text-main-500 rounded-full py-3 px-6' href='/docs'>
              REGISTER
            </a>
          </div>
        </div>
      })
    }
  </div>
</div>

<script>
  const buttons = document.getElementsByClassName('tab-button');
  const tabs = document.getElementsByClassName('tab-panel')

  function handleTabChanges(i: number) {
    for (let j = 0; j < buttons.length; j++) {
      if (j === i) {
        const button = buttons[j] as HTMLButtonElement;
        const tab = tabs[j] as HTMLDivElement;
        
        button.style.backgroundColor = '#5f4dee';
        button.style.color = '#fff';

        tab.style.display = 'flex'
        setTimeout(() => {
          tab.style.opacity = '1'
        }, 0)
      } else {
        const button = buttons[j] as HTMLButtonElement;
        const tab = tabs[j] as HTMLDivElement;
        
        button.style.backgroundColor = '#fff';
        button.style.color = '#5f4dee';

        tab.style.display = 'none'
        setTimeout(() => {
          tab.style.opacity = '0'
        }, 150)
      }
    }
  }

  for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', () => {
      handleTabChanges(i);
    });
  }

  handleTabChanges(0);
</script>