---
//import Button from '@/components/button';
import { Image } from 'astro:assets';
---
<div>
    <header id="header" class="text-center bg-white md:py-16">
      <div class="flex flex-col items-center md:flex-row">
        <div class='md:w-3/4'>
          <h1 class='flex flex-col text-main-500 mt-24 text-6xl font-bold font-rubik'>
            <span>Crea</span>
            <span>Atrae</span>
            <span>Deleita</span>
          </h1>
          <h2 class='px-4 mt-8 mb-16 text-gray-500'>
            <!--{translation['Use LetterCMS to attract new users and offer them the best content based on their tastes']}-->
            Use LetterCMS to attract new users and offer them the best content based on their tastes
          </h2>
          <div class='flex gap-2 justify-center items-center'>
            <a class='no-underline border border-main-500 bg-main-500 text-white rounded-full py-3 px-6' href='/signin'>
                <!--{/*<FormattedMessage id="REGISTER"/>*/}-->
                Create blog
            </a>
            <a class='no-underline border border-main-500 text-main-500 rounded-full py-3 px-6' href='/docs'>
                <!--{/*<FormattedMessage id="REGISTER"/>*/}-->
                Docs
            </a>
          </div>
        </div>
        <div class="w-full mt-8 class='md:w-1/4'">
          <img src='/illustrations/99.svg' alt="alternative"/>
        </div> 
      </div> 
    </header>
    <svg class="-mt-1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310">
      <path fill='#fff' d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/>
    </svg>
  </div>;
